<form [formGroup]="postForm" (ngSubmit)="onSubmit()" autocomplete="off">
  <mat-card>
    <mat-card-title>Create Blog Post</mat-card-title>

    <mat-card-content class="flex flex-column">

      <mat-form-field class="w-100">
        <mat-label>Title</mat-label>
        <input matInput formControlName="title" />
        <mat-error *ngIf="title.hasError('required')">This field is required</mat-error>
      </mat-form-field>

      <mat-form-field class="w-100">
        <mat-label>Content</mat-label>
        <textarea matInput formControlName="content">
        </textarea>
        <mat-error *ngIf="content.hasError('required')">This field is required</mat-error>
        <mat-error *ngIf="content.hasError('minlength')">This field must be at least 5 characters long</mat-error>
      </mat-form-field>
    </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button type="submit" color="primary" [disabled]="!postForm.valid">
        Save
      </button>
      <button type="button" (click)="onReset()" mat-raised-button>Clear</button>
    </mat-card-actions>
  </mat-card>
</form>
